<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--<link rel="stylesheet" href="/styles/style.css"> -->
        <title>IRON BEERS</title>
    </head>

    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/beers">Check the beers</a>
            <a href="/randombeer">Feeling creative?</a>
        
        </nav>

       
        {{{ body }}}
        <footer>Cheers!!!</footer>
    </body>

</html>